.footer {
    height: 350px;
    display: flex;
    width: 100%;
    background-color: #000000;
    padding: 60px 0px 40px 0px;
  }
  
  .footer__columns {
    flex-basis: 711px;
    margin: auto;
    position: relative;
  }
  
  .footer__columns-content-copyright {
    height: 18px;
    position: relative;
    
  }
  
  .copyrights {
    color: #ffffff;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: -150px;
    left: -380px;
  }
  
  .footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
  }
  
  .footer__columns-content-about {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: -150px;
    right: -80px;
    color: #ffffff;
  }
  
  .footer__columns-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    margin: auto;
  }
  
  .footer__list {
    line-height: 30px;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
  }
  
  .footer__columns-content-social {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -150px;
    right: -300px;
    gap: 20px;
  }
  
  .footer__columns-link {
    line-height: 30px;
    font-size: 18px;
    list-style: none;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: flex;
    gap: 10px;
  }
  
  .footer__social-icons {
    width: 16px;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .logo_place_footer {
    width: 183px;
    height: 35px;
    position: absolute;
    top: -150px;
    left: -380px;
  }