.resources {
    padding-top: 100px;
    padding-bottom: 217px;
    display: flex;
    flex-direction: column;
  }
  
  .resources__title {
    margin: auto;
    line-height: 1.15px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .resources__subtitle {
    padding-bottom: 80px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }
  
  .resources__logo-zone {
    display: flex;
    width: 1100px;
    margin: auto;
  }
  
  .resources__logo-image {
    width: 270px;
    height: 38px;
  }