.oakley {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 160px;
    background-color: #f2f2f2;
  }
  
  .oakley__two-columns {
    display: flex;
    width: 175px;
    color: #2f80ed;
    margin-top: 10px;
  }
  
  .oakley__two-columns-brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }
  
  .oakley__two-columns-main-text {
    min-width: 784px;
    width: 80%;
  }
  
  .oakley__two-columns-paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }