.description {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 30px;
  width: 175px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
