@import url("../blocks/footer.css");
@import url("../blocks/header.css");
@import url("../blocks/logo.css");
@import url("../blocks/section-charlasted.css");
@import url("../blocks/section-description.css");
@import url("../blocks/section-digits.css");
@import url("../blocks/section-feynman.css");
@import url("../blocks/section-kaufman.css");
@import url("../blocks/section-khan.css");
@import url("../blocks/section-oakley.css");
@import url("../blocks/section-resources.css");
@import url("../blocks/section-techniques.css");

@keyframes transparent{
  0% {
    opacity: 3;
  }
  50% {
    opacity: 2;
  }
  100%{
    opacity: 0;
  }
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  /* parameters for the header section */
}

.header__title {
  width: 730px;
  font-size: 120px;
  margin-right: 64px;
  position: absolute;
  top: 30%;
  left: 20px;
  z-index: 3;
}

.header__title-text {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.logo {
  margin-right: 64px;
  z-index: 2;
}

.logo__place_header {
  position: absolute;
  top: auto;
  left: 20px;
  padding-top: 30px;
}

.header__subtitle {
  margin-right: 64px;
  width: 388px;
  margin-top: 80px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.header__subtitle-text {
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  width: 194px;
  position: absolute;
  bottom: 15px;
  left: 20px;

}

.header__link-text {
  color: #2f80ed;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.header__link-text:hover{
  animation: transparent 1s ease 1 backwards;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 756px;
  width: 608px;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 30px;
  width: 175px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.techniques__title {
  text-align: center;
}

.techniques__title-text {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.techniques__subtitle {
  text-align: center;
  padding-top: 20px;
}

.techniques__subtitle-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.cards {
  display: flex;
  padding-top: 60px;
  width: 920px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}

.cards__item{
  display: flex;
  flex-direction: column;
  width: 240px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.cards__image {
  padding: 0px 40px 43px 40px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
  margin: 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.video {
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.video__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
}

.video__subtitle {
  padding-bottom: 10px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
  padding-top: 20px;
}

.video__iframes {
  display: flex;
  flex-direction: row;
  gap: 20px;
  transform: translate(0px,40px);
}

.oakley {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 775px;
  position: absolute;
  top: 0;
  left: 35%;
  z-index: 2;
}

.feynman__title-text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 1;
  padding-top: 70px;
}

.feynman__subtitle-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin-right: 48px;
  position: absolute;
  top: 50%;
  right: 0px;
}

.feynman__link-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link-text:hover{
  animation: transparent 1s ease 1 backwards;
}

.feynman__image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 100px;
}

.digits__title {
  width: 60%;
  margin: auto;
  text-align: center;
}

.digits__title-text {
  line-height: 1.15px;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
}

.digits__subtitle {
  width: 60%;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

.digits__subtitle-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1212px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.table__cell {
  width: 250px;
}

.table__heading {
  display: flex;
  line-height: 1.15px;
  width: 1.15px;
  font-size: 24px;
  font-weight: bold;
  gap: 5px;
  padding-top: 60px;
}

.table__text {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
}

.khan {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  margin: auto;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 50px;
}

.khan__quote {
  width: 790px;
  padding-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__quote-author {
  padding-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline {
  padding-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__book-container {
  position: relative;
}

.book-picture {
  height: 950px;
  width: auto;
  transform: translate(140px, 350px) scale(1.5);
}

.buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 15%;
  left: 70%;
  padding-left: 48px;
}

.buy-link:hover{
  animation: transparent 1s ease 1 backwards;
}
.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
  padding: 90px 0px 90px 0px;
}

.kaufman__title {
  width: 60%;
  z-index: 5;
}

.kaufman__title-text {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.15;
  text-align: center;
  margin: 0;
}

.kaufman__subtitle {
  width: 60%;
  z-index: 4;
  padding-top: 20px;
}

.kaufman__subtitle-text {
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  margin: 0px;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  width: 1212px;
  list-style: none;
  z-index: 3;
  justify-content: space-between;
  padding-right: 50px;
  margin: auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: auto;
}

.table__heading_theme_dark{
  color: #ffffff;
  width: 1.15px;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  padding-top: 80px;
}

.table__text_theme_dark {
  color: #ffffff;
  width: 100%;
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  list-style: none;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -124px;
  overflow: hidden;
  animation: rotation 20s linear infinite;
  width: 636px;
  z-index: -1;
}


.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
}

.resources__title {
  margin: auto;
  line-height: 1.15px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.resources__subtitle {
  padding-bottom: 80px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.resources__logo-zone {
  display: flex;
  width: 1100px;
  margin: auto;
}

.resources__logo-image {
  width: 270px;
  height: 38px;
}

.resources__logo-image:hover{
  animation: transparent 1s ease 1 backwards;
}
.footer {
  height: 350px;
  display: flex;
  width: 100%;
  background-color: #000000;
  padding-bottom: 40px;
}

.footer__columns {
  flex-basis: 711px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
}

.footer__column_copyright {
  line-height: 25px;
  height: 18px;
  position: absolute;
  bottom: -50px;
  left: -380px;
}

.copyrights {
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.footer__column_about {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 10px;
  color: #ffffff;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style: none;
}

.footer__column-list {
  line-height: 30px;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.footer__column_social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: -250px;
  gap: 20px;
}

.footer__column_social-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style: none;
}

.footer__column_social-link {
  line-height: 30px;
  font-size: 18px;
  list-style: none;
  color: #ffffff;
}

.footer__column_social-icons {
  width: 16px;
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #ffffff;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: -380px;
}
